<%- include("./partials/header"); %>

<div class="container">
	<h2 style="color:green">
		Your payment is successful.
	</h2>
	<h2 style="color:green">
		Your order is successfully placed.
	</h2>
</div>