/* img {
  width: 270px;
  height: 230px;
	margin: 5px;
}*/
.rtc {
	 margin:10px 25px; 
	padding: 7px 0
}

.add {
	 margin:10px 25px; 
	padding: 7px 0
}

.limg {
	width: 350px;
  	height: 230px;
	margin: 0 10px;
} 

.jumbotron{
color:#21618C ;
background-color:#e3f2fd;
	padding: 10px;
}
.navbar .navbar-brand {
	color:white ;
}

.address {
	 width:30%; 
	margin:60px auto
}

.col-lg-3 {
		margin: 10px 10px;
	}

.col-lg-5 {
		margin: 10px 30px;
	}

.hel1 {
	display : inline-block;
}

.hel3 {
	padding:8px 50px
}

.h3c,label {
	margin:15px 0 10px 5px;
}

.i1 {
	width:100px;
	margin:0 25px 0 5px;
}

@media (max-width: 500px) {
	.hel0{
		margin:-20px 0;
	}	
	.hel1 {
		display : inline;
	}
	.hel2 {
		margin:0 0 0 -6px;
		padding:8px 25px;
		size:10px;
	}
	.hel3 {
		padding:8px 30px
	}
	.img {
		width:100px;
		height:100px
	}
	.h3c {
		size:10px;
	}
	.address {
		 width:70%; 
	}
	.rtc {
		 margin:0 10px; 
		padding: 7px 6px
	}

	.add {
		 margin:0 10px; 
		padding: 7px 6px
	}
}
